.second {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.second__imgContainer {
  position: relative;
}

.second__comparisonImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.afterImage {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(100%, 0px);
}
.afterImage img {
  transform: translate(-100%, 0px);
}
.comparisonImage img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 1;
  transition: opacity 0;
}
