.second {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.second__imgContainer {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.second__imgContainer::-webkit-scrollbar {
  display: none;
}

.second__1 {
  z-index: -2;
}

.second__img {
  width: 50%;
  height: 100%;
}
